body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.background-dark {
    position: absolute;
    background-image: url(../images/background.jpg);
    background-size: cover;
    width: 100%;
    height: 900px;
    z-index: 60;
    background-repeat: no-repeat;
}
.background-lite {
    position: absolute;
    background-image: url(../images/background-light.jpg);
    background-size: cover;
    width: 100%;
    height: 900px;
    z-index: 50;
    background-repeat: no-repeat;
}
.lamp {
    position: absolute;
    z-index: 100;
    top: 26%;
    left: 9%;
    width: 5.5%;
}
.lamp img{
    cursor: pointer;
    width: 100%;
}
.lamp:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
.ufo-one {
    position: absolute;
    z-index: 1000;
    left: -1250px;
    top: -100px;
    width: 400px;
    text-align: center
}
.ufo-glow {
    opacity: 0;
}
.board{
    position: absolute;
    bottom: 10px;
    z-index: 100;
    width: 40%;
    left: 30%;
}
.boardimg{
        opacity: 0;
}
.menu-right{
    position: absolute;
    right: 10px;
    z-index: 150;
    top: 10px;
    width: 12%;
}
.menu-right img{
    cursor: pointer;
    margin-bottom: 8%
        
}
.menu-right img:hover{
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
#label-name{
    position: absolute;
    top: 60%;
    left: 27%;
    width: 45%;
    opacity: 0;
}
#label-text{
    position: absolute;
    z-index: 500;
    top: 0px;
    margin: 3%;
    font-size: 1.1em;
    opacity: 0; 
    font-family: 'Proza Libre', sans-serif;
}
.back-sign{
    position: absolute;
    right: 20px;
    bottom: 20px;
    z-index: 150;
    width: 10%;
}
.back-sign:hover{
    
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  perspective: 1000px;
}